.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
}

.badge[data-type="success"] {
  background-color: rgb(208, 240, 222);
  color: rgb(18, 94, 50);
}

.badge[data-type="info"] {
  background-color: rgb(218, 242, 252);
  color: rgb(0, 86, 123);
}

.badge[data-type="warning"] {
  background-color: rgb(255, 245, 227);
  color: rgb(137, 59, 3);
}

.badge[data-type="danger"] {
  background-color: rgb(253, 229, 236);
  color: rgb(165, 0, 47);
}