:root {
  --badge-bg-success: #d0f0de;
  --badge-color-success: #125e32;
  --badge-bg-info: #daf2fc;
  --badge-color-info: #00567b;
  --badge-bg-warning: #fff5e3;
  --badge-color-warning: #893b03;
  --badge-bg-danger: #fde5ec;
  --badge-color-danger: #a5002f;
}